* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #1a1f21;
}

.header {
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}

.home-menu {
  width: 50%;
  margin: 10rem auto;
}

.home-menu > input {
  width: 100%;
}

.create-menu {
  width: 50%;
  margin: 220px auto;
}

.create-menu input,
select {
  width: 100%;
}

#play-site {
  height: 100%;
  padding: 10px 20px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

/* CHATLIST */
.chatlist {
  list-style-type: none;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 4px;
}

.chatlist li {
  position: relative;
  background: #ffffff;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: solid 0.5px;
  border-radius: 4px;
}

.chatlist li .thumbnail {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}

.chatlist li .content {
  display: inline-block;
  margin-left: 6px;
  vertical-align: top;
  line-height: 1;
}

.chatlist li .content p {
  margin-bottom: 0;
}
.toolpaint {
  text-align: center;
  padding-top: 20px;
}

/* PALETTE */
.colors > li {
  list-style: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

.colors > li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.colors > li.active-color {
  width: 20px;
  height: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 20px solid rgba(0, 0, 0, 0.15);
}

#show-emoji-yes {
  font-size: 25px;
  opacity: 0.9;
  position: fixed;
  bottom: 2%;
  margin-left: 53%;
}

.btn-primary {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.txtfield {
  width: 20em;
  margin: auto;
  display: block;
  max-width: 100%;
  height: 50px;
  border: 1px solid rgba(112, 128, 144, 0.5);
  border-radius: 3px;
  padding: 0 0.6em;
}

canvas {
  background: #fff;
  height: auto;
  width: 100%;
  border: 1px solid #000000;
  cursor: url(/assets/img/tools/pencil.png) 7 30, auto;
}
