doctype html
html
  head
    style
      include style.css
      include materialize.min.css
body
  nav
    .nav-wrapper.black
      a.brand-logo(href='/assets/img/logo.png') 
        img(src="/assets/img/logo.png", alt="")
      a.sidenav-trigger(href='/', data-target='mobile-demo')


