doctype html
html
  head
    style
      include style.css
      include materialize.min.css
body
  nav
    .nav-wrapper.black
      a.brand-logo(href='/assets/img/logo.png') 
        img(src="/assets/img/logo.png", alt="")
      a.sidenav-trigger(href='/', data-target='mobile-demo')
        
      //-   i.material-icons menu
      //- ul.right.hide-on-med-and-down
      //-   li
      //-     a(href='sass.html') Sass
      //-   li
      //-     a(href='badges.html') Components
      //-   li
      //-     a(href='collapsible.html') Javascript
      //-   li
      //-     a(href='mobile.html') Mobile

    div#gallery
          each image in imagelist
            img.draw(src=`https://s3.amazonaws.com/picasso.io-dev/${image.Key}`)


