/* style.css */
body, html {
    width: 100%;
}

.brand-logo img{
    width: 120px;
}

#gallery {
    width: 90%;
    margin: 0 auto;
}

#gallery img {
    margin: 10px;
}

.draw {
    border: black solid 2px;
    width: 200px;
  }